language: go
go:
    - 1.8.x
    - tip
sudo: required
before_install:
    - sudo add-apt-repository -y ppa:masterminds/glide
    - sudo apt-get -qq update
    - sudo apt-get -y install glide
install:
    - glide i
    - go get -u github.com/golang/lint/golint
    - go get -u github.com/modocache/gover
script:
    - glide nv | xargs golint
    - glide nv | xargs go test -v
    - MYPKGS=$(glide nv | xargs go list -f '{{if len .GoFiles}}{{.ImportPath}}{{end}}' | xargs echo | tr " " ",")
    - glide nv | xargs go list -f "{{if and (or (len .TestGoFiles) (len .XTestGoFiles)) (len .GoFiles)}}\"go test -coverprofile={{.Dir}}/.coverprofile -coverpkg=$MYPKGS {{.ImportPath}}\"{{end}}" | xargs -i sh -c {}
    - gover . coverprofile.txt
after_success:
    - bash <(curl -s https://codecov.io/bash) -f coverprofile.txt
